
body{
 background-color: #DCDCDC;
}
p{
  color: grey;
}


#name{
  margin-top: 350px;

  font-weight: 900;
  line-height: 1.17;
  color: white;
  text-align: center;
}
#title{
    text-align: center;
    color: #17a2b8;
    margin-top: 30px;
}
#firstproject{
  margin-top: 30px;
}



.about{
    color: white;
    font-size: 50px;
}

.stSection{
  width: 45px;
  height: 500px;
  margin-left: 175px;
  margin-top: 160px;
  position: absolute;
  background-color: #1a1a1a;
}
.firstSection{
  background-image: url('images/Vincen.jpg');
  background-size: cover;
  width: 400px;
  height: 580px;
  background-color: #DCDCDC;
position: absolute;
margin-left: 220px;
margin-top: 110px;
padding-left: 5px;
padding-right: 5px;
opacity: 0.93;
}
.secondSection{
  width: 75%;
  background-color: #DCDCDC;
  position: absolute;
  margin-left: 620px;
  margin-top: 160px;
  padding-left: 20px;
  padding-right: 5px;
  opacity: 0.93;
  overflow:auto;
  width: 700px;
  height: 500px;
}
.foneIcon{
  width: 4%;
    border-radius: 100%;
    margin-right: 5px;
    margin-top: 5px;
}
.paragraphInfo{
  margin-top: -27px;
  margin-left: 35px;
}
.line{
  border-color:  #17a2b8;
  border-width: 0.5px;
  width: 90%;
  margin-top: 40px;
}
.lines{
  margin-top: 50px;
  border-color:  #17a2b8;
  border-width: 0.5px;
  width: 90%;
}
.subHeading{
  color:  #17a2b8;
}
.menuIcon{
  width: 45px;
  margin-top: 20px;
  height: 45px;
}
.sideIcons{
  width: 4%;
    border-radius: 100%;
    margin-right: 8px;
    margin-bottom: 7px;
}
.year{
  color: white;
  margin-bottom: -2px;
}
.courseTitle{
  margin-top: -3px;
  margin-bottom: -1px;
  color: #4d4d4d;
}
.coursePara{
  margin-bottom: 24px;
}
.skiilset{
  margin-bottom: 10px;
}
.skillname{
color: white;
margin-bottom: -3px;
}
.skillpercent{
margin-top: 23px;
  color: #17a2b8;
  margin-left: 640px;
  margin-bottom: -24px;
}
.progress{
}
.websiteLinks{
  margin-top: -12px;
}

#ab:hover .overlay{
   opacity: 0.3;
background-color: #17a2b8;
}
#co:hover .overlay{
   opacity: 0.3;
background-color: #17a2b8;
}
#re:hover .overlay{
   opacity: 0.3;
background-color: #17a2b8;
}
#ed:hover .overlay{
   opacity: 0.3;
background-color: #17a2b8;
}
#sk:hover .overlay{
   opacity: 0.3;
background-color: #17a2b8;
}
#wo:hover .overlay{
   opacity: 0.3;
background-color: #17a2b8;
}
.overlay{
  position: absolute;;
  width: 45px;
  margin-top: 20px;
  height: 45px;
}






.force{
    min-height: 450px;
  }
  /* width */
  ::-webkit-scrollbar {
    width: 2px;
    background-color: #17a2b8;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 3px;
    background-color: black;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #17a2b8;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000;
  }
